<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KGR::Books</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style-home.css') }}">
    <link rel="stylesheet" href="media-home.css">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="subheader">
                <div class="container-fluid">
                    <p>Collection Of Best Books & Guides</p>
                    <a href="#" data-toggle="modal" data-target="#contactModal" data-whatever="@getbootstrap"
                        class="contact">Contact Us</a>
                    <a href="user_profile.html">Account</a>
                </div>
                <!--close container div-->
            </div>
            <!--close subheader div-->

            <!--Main Header Area-->
            <div id="main-header">
                <div id="logo">
                    <span id="kgr">KGR</span>
                    <span id="com">.com</span>
                </div>
                <!--close logo div-->

                <!--search area-->
                <div id="search">
                    <form action="">
                        <input class="search-area" type="text" name="text" placeholder="Search Here">
                        <input class="search-btn" type="submit" value="SEARCH">
                    </form>
                    <!--close form div-->
                </div>
                <!--close search div-->

                <!--user menu-->
                <div id="user-menu">
                    <li><a href="checkout.html">Cart</a></li>
                    <li><a href="login_page.html">Login</a></li>
                </div>
                <!--close user-menu div-->
            </div>
            <!--close main header div-->
        </div>
        <!--close header div-->

        <!--navigation bar area-->
        <div id="navigation">
            <nav>
                <a href="home.html">Home</a>
                <a href="#">Fiction</a>
                <a href="#">Non-Fiction</a>
                <a href="#">School-Books</a>
                <a href="#">Stationary</a>
                <a href="#">Bags</a>
                <a href="#">Deals</a>
            </nav>
        </div>
        <!--close navigation div-->
        <!--Banner slider-->
        <div id="slider">
            <img src={{ url_for('static', filename="images/books-banner.jpg") }} alt="banner-image">
        </div>
        <!--close slider div-->
        <!--category area-->
        <div class="container-fluid">
            <div id="header-block">
                <h2>Category</h2>
            </div>
            <!--close header-block-->
            <!--first category-->
            <a href="#">
                <div class="catbox">
                    <img src="images/fiction-category.jpg" alt="Fiction">
                    <span>Fiction</span>
                </div>
                <!--close catbox div-->
            </a>
            <!--second category-->
            <a href="#">
                <div class="catbox">
                    <img src="images/non-fiction-category.jpg" alt="Non-Friction">
                    <span>Non Fiction</span>
                </div>
                <!--close catbox div-->
            </a>
            <!--third category-->
            <a href="#">
                <div class="catbox">
                    <img src="images/School-Books.jpg" alt="School-Books">
                    <span>school Books</span>
                </div>
                <!--close catbox div-->
            </a>
            <!--fourth category-->
            <a href="#">
                <div class="catbox">
                    <img src="images/stationary-category.jpg" alt="Stationary">
                    <span>Stationary</span>
                </div>
                <!--close catbox div-->
            </a>
            <!--fifth category-->
            <a href="#">
                <div class="catbox">
                    <img src="images/bags-category.jpg" alt="Bags">
                    <span>Bags</span>
                </div>
                <!--close catbox div-->
            </a>
            <!--product area-->
            <div id="products">
                <h2>New Arrivals</h2>
            </div>
            <!--close products div-->
            <div class="container-fluid">
                <!--product1-->
                <div class="prod-box">
                    <img src="images/product.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Dragon Pearl</p>
                            <p style="color:white;font-weight:bold">Price: $100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product2-->
                <div class="prod-box">
                    <img src="images/product1.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>The last Astronaut</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product3-->
                <div class="prod-box">
                    <img src="images/product2.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>The last days of Romanov dancers</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product4-->
                <div class="prod-box">
                    <img src="images/product8.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Mason Buttle</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product5-->
                <div class="prod-box">
                    <img src="images/product4.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Educated</p>
                            <p style="color:white;font-weight:bold">Price:$40</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product6-->
                <div class="prod-box">
                    <img src="images/product5.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Indian Positive</p>
                            <p style="color:white;font-weight:bold">Price:$80</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product7-->
                <div class="prod-box">
                    <img src="images/product6.jpg" alt="products">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>The Lost Man</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product8-->
                <div class="prod-box">
                    <img src="images/product10.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Science Sample Questions</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product9-->
                <div class="prod-box">
                    <img src="images/product9.jpg" alt="product">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>ICSE Biology</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
                <!--product10-->
                <div class="prod-box">
                    <img src="images/product7.jpg" alt="products">
                    <div class="prod-trans">
                        <div class="prod-features">
                            <p>Sainik School</p>
                            <p style="color:white;font-weight:bold">Price:$100</p>
                            <input type="button" value="Add to Cart">
                        </div>
                        <!--close prod-features-->
                    </div>
                    <!--close prod-trans-->
                </div>
                <!--close prod-box-->
            </div>
            <!--close prod-container-->
            <!--main-footer area-->
            <div id="main-footer">
                <div class="container-fluid">
                    <div class="footer-sub">
                        <h2>Our Story</h2>
                        <p>KGR was founder by 3 friends Kiran, Gwothami and Ritu. We met at Byte Academy from where our
                            journey began. Our love for books inspired us to start this website which holds a variety of
                            great books.<span><a href="#"> Read More...</a></span></p>
                    </div>
                    <!--close footer sub-->
                    <div class="footer-sub-2">
                        <center>
                            <h2>Social Media</h2>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </center>
                    </div>
                    <!--close footer-sub-2-->
                    <div class="footer-sub-3">
                        <center>
                            <h2>Subscribe Us</h2>
                            <input type="text" name="subs" placeholder="Enter your Email " class="subs">
                            <input type="submit" name="submit_btn" value="Subscribe " class="subs_btn">
                            <p class="subs_p">Special Benefits for our Subscribed Members.</p>
                        </center>
                    </div>
                </div>
                <!--close footer container-->

            </div>
            <!--close footer-->
            <!--copyright area-->
            <div id="copyright">
                <p>Copyright &copy;2019 KGR.com</p>
            </div>
            <!--close copyright div-->
        </div>
        <!--close container div-->

    </div>
    <!--close wrapper div-->


    <!--contact popup form using modal-->
    <div class="container-fluid">

        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-container">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Full Name:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputNumber">Mobile Number</label>
                                <input type="number" class="form-control" id="exampleInputNumber">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Send message</button>
                    </div>
                </div>
            </div>
        </div>








        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>