#wrapper {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.container-fluid {
  width: 95%;
  margin:0 auto;
}
#subheader {
  width: 100%;
  height: 45px;
  background: #3898ab;
  color: white;
  margin-top: -10px;
}
#subheader p{
  float: left;
  margin-top: 7px;
}
#subheader a{
  float: right;
  line-height: 30px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 3px;
}
#main-header{
  width: 100%;
  height: 100px;
  background: #3b9eaa;
  float: left;
  margin-top: -15px;
}
#logo{
  width: 250px;
  margin-top: 10px;
  float: left;
}
#kgr{
  color: #fb2525;
  font-size: 45px;
  font-weight: bold;
  font-family: cursive;
  margin-left: 15px;
}
#com{
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
}
#search{
  width: 650px;
  float: left;
  padding: 20px;
  margin-left: 50px;
  margin-top: 5px;
}
.search-area{
  width: 650px;
  height: 35px;
  background: white;
  border: none;
  border-radius:10px;
  float:left;
  padding-left: 5px;
}
.search-btn{
  width: 100px;
  height: 35px;
  color: white;
  border: none;
  border-radius:10px;
  background: #fb2525;
  margin-left:-101px;
}
#user-menu{
  width: 300px;
  float: right;
  margin-top: 30px;
}
#user-menu li{
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
  font-size: 20px;
  border-left: 1px solid white; 
}
#user-menu li:hover{
  font-size: 30px;
  transition: all .5s ease;
}
#user-menu li a {
  color: white;
  text-decoration: none;
}
#navigation{
  width: 100%;
  height: 35px;
  background: #74cecc;
  float: left;
  box-shadow: 10px 14px 50px 2px #015a8d;
}
nav{
  width: 1280px;
  margin: 0 auto;
  float: left;
  margin-top: 7px;
}
nav a{
  margin-left: 20px;
  margin-right: 50px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color:black;
  transition:all .7s ease;
}
.col-md-5{
  float: left;
}
.col-md-5 img{
  margin-top: 60px;
  width: 350px;
  height: 450px;
}

.col-md-7{
  float: right;
  height: 700px;
}
.newarrival{
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
.col-md-7 h2{
  color: #555;
}
.description{
  margin-top: 25px;
}
.col-md-7 h4{
  color: #555;
}
.col-md-7 input{
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 80px;
}
.col-md-7 button {
  background: #FE980F;
  color:white;
  font-size: 15px;
  margin-left: 20px;
}








#main-footer{
  width: 100%;
  height: 250px;
  background: #f5f5f5;
  float: left;
  margin-top: 25px;
}
.footer-sub{
  float: left;
  width: 35%;
  margin-top: 20px;
}
.footer-sub p{
  text-align: justify;
}
.footer-sub-2{
  float: left;
  width: 30%;
  margin-top: 20px;

}
.footer-sub-2 ul li{
  list-style: none;
}
.footer-sub-2 ul li a{
  text-decoration: none;
  color: black;
}
.footer-sub-2 ul li a:hover{
  color: #227eb3;
  text-decoration: none;
}
.footer-sub-3{
  width: 35%;
  float: left;
  margin-top: 20px;
}
.subs{
  width: 300px;
  border: none;
  height: 40px;
  padding: 8px;
  float: left;
}
.subs_btn{
  height: 40px;
  border: none;
  background: #ef5823;
  float: left;
  padding: 12px;

}
.subs_p{
  color: #999;
  font-style: italic;
  font-size: 15px;
  float: left;
}
#copyright{
  width: 100%;
  height: 50px;
  background: #3898ab;
  float: left;
  margin-top: 10px;
}
#copyright p{
  text-align: center;
}